body{
    font-family: Arial;
    padding: 0;
    margin: 0;
}
img{
    padding: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #f3e8ff;
}.nav{
    padding: 10px;
    display: flex;
    align-items: center;
}.nav a{
    color:black;
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
}.content, .courses{
    text-align: center;
    margin-top: 5%;
    padding: 20px;
    background-color: whitesmoke;
}
.course-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.cardimg{
    height: 30vh;
    width: auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}.table{
    margin: auto;
    width: 60%;
    padding: 20px;
}table{
    width: 100%;
}.contact{
    text-align: center;
    margin-top: 5%;
    padding: 20px;
}
.contact h6{
    color: purple;
    font-size: 14px;
    margin-bottom: 3px;
}
.contact h1{
    font-size: 36px;
    margin-bottom: 10px;
}
.contact p{
    font-size: 16px;
    color: grey;
}.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}.card-items{
    width: 300px;
    text-align: center;
}
.learn_more_container{
    display: flex;
    flex-direction: column;
    width: 50%;
}.back_to_course_btn{
    height: 40px;
    width: 200px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
}.backtocourse_content{
    margin-top: 20px;
    background-color: thistle;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.description, .prerequisites, .Features{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}.price{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.price_btn button{
    height: 40px;
    width: 100px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
}
.price_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}.thumbnail{
    border-radius: 50px;
}