 :root {
     --text-primary: #a755f7;
 }

 body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
 }

 .container {
     height: 100vh;
     background-color: var(--text-primary);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .login-card {
     width: 300px;
     padding: 20px;
     background-color: white;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     top: 100px;
 }

 .login-card h2 {
     text-align: center;
 }

 .login-links {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10px;
 }

 .login-card button {
     padding: 8px 16px;
     background-color: var(--text-primary);
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 .login-card a {
     text-decoration: none;
     color: blue;
 }

 .login-card form {
     display: flex;
     flex-direction: column;
 }

 .login-card input {
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }