.header {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    border-left: 4px solid rgb(0, 148, 62);
    padding: 10px;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 5px rgb(225, 224, 224);

}

img {
    width: 40px;
    height: auto;
}

.thumbnail {
    width: 60px;
}

@media screen and (max-width: 768px) {


    .content {
        flex-direction: column; 
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
@media screen and (min-width: 769px){
    .content{
        display: flex;
        justify-content: center;
    }
}
.position{
    width: 100%;
    height: 700px;
    background-color: red;
    margin-top: 30px;
    border:1px solid black;
}
.child{
    width: 140px;
    height: 140px;
}.child-1{
    background-color: white;
    position:static
}.child-2{
    background-color: aqua;
    position: relative;
    top: 50px;
    left: 50px;
}.child-3{
    background-color: blueviolet;
    position:absolute;
    top: 0;
}.child-4{
    background-color: chartreuse;
    position: fixed;
}.child-5{
    background-color: deeppink;
}.stickytext{
    position: sticky;
    top: 3px;
    background-color: green;
}